@model UniPromecys.Models.Asignatura.AsignaturaItemModel
@*@{
        Layout = null;
    }*@
@using (Html.BeginForm("GuardarAsignatura", "Asignatura", FormMethod.Post))
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RegistrarAsignatura</title>
    </head>
    <body>
        <form>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                @Html.TextBoxFor(x => x.Nombre,new { @class= "form-control" , @id="txtNombre" , @required = true})
               @* <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" aria-describedby="emailHelp" required>*@
                @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
            </div>
            <div class="mb-3">
                <label class="form-label">Codigo Interno</label>
                @Html.TextBoxFor(x => x.CodigoInterno, new { @class = "form-control", @id = "txtCodigoInterno", @required = true})
                @*<input type="text" class="form-control" id="CodigoInterno" name="CodigoInterno" required>*@
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @id = "txtDescripcion", @required = true })
                @*<textarea type="" class="form-control" id="Descripcion" name="Descripcion" required></textarea>*@
            </div>
            <div class="align-bottom">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-warning" href="/Asignatura/Administrar">Regresar</a>
            </div>

        </form>
    </body>
</html>
}
@section scripts{ 
    <script>
        $(document).ready(function () {
            @if(Model.Accion == AccionesControlador.Acciones.Editar.ToString())
            {
                @:$("#txtCodigoInterno").prop('readonly', true);
            }
            });
    </script>
}

